each product in products
  .item.card-link(data-product-code=product.code)
      img(src=product.image_link[0] alt=product.title)
      #main-info
          p.card-text
              span #{product.title}
              br
              br
              | #{product.description}
          #icons
              a.card-icon._icon-heart(href='#')
              a.card-icon._icon-balance-scale(href='#')

include ./pagination