// Author: Yana Levchenko

extends base

main.main-container
  #content
    section#slideshow
      .container
        each slide in slides
          .slide
            img(src=`${slide}`, style="width:100%")
        a.prev(onclick="swipe(-1)") ❮
        a.next(onclick="swipe(1)") ❯
        .row
          each .column in columns
            img.thumbnail(src=`${slide}`, style="width:100%", onclick="setCurrent(" + (columns.indexOf(.column) + 1) + ")")
    section#info
      #product-name #{product.title}
      .tabs-container
        ul.tabs
          li.active
            a(href="") Опис
          li
            a(href="") Характеристики
        .product-info
          .panel.active(data-index="0")
            #product-desc #{product.description}
          .panel(data-index="1")
            #product-charact #{product.сharacteristics}
    button#scroll-to-top._icon-arrow-circle-up
script(src="./js/card.js")
script(src="./js/switch.js")
