extends base

block content
  main.main-container
    #content
      section#slideshow
        .container
          each image, index in product.image_link
            .slide
              img(src=image, style="width:100%")
          a.prev(onclick="swipe(-1)") ❮
          a.next(onclick="swipe(1)") ❯
          .row
            each image, index in product.image_link
              .column
                img.thumbnail(src=image, style="width:100%", onclick=`setCurrent(${index + 1})`)
      section#info
        p#product-name #{product.title}
        .tabs-container
          ul.tabs
            li.active
              a(href="") Опис
            li
              a(href="") Характеристики
          .product-info
            .panel.active(data-index="0")
              p#product-desc #{product.description}
            .panel(data-index="1")
              ul#product-charact
                each tag in product.tags
                  li
                    p #{tag.name}: #{tag.value}
      button#scroll-to-top._icon-arrow-circle-up
    script(src="/js/switch_and_button.js")
    script(src="/js/card.js")
